.top{
	height: 40vh;
	width: 100vw;
	padding: 5%;
	background:red;
}
.card{
	align-items: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
.card .link{
	text-decoration: none;
	transition: 0.5s;
	padding: 10%;
	background: bg-danger;
}
.card .card-link:hover{
	transform: scaleX(1.25);
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
