{% extends "default.html" %}
{%block title %}
 	<title>Upload new File</title>
 	<link rel="stylesheet" type="text/css" href="../static/up.css">
{% endblock%}
{%block nav%}
	<h2 style="color: white;">Welcome {{user}}</h2>
	<ul>
		<li><a href="{{url_for('logout')}}">Logout</a></li>	
		<li><a href="{{url_for('home')}}">Home</a></li>
	</ul>
{% endblock%}
{% block body %}
<div id="loader"></div>
<div class="one">
<div class="jumbotron jumbotron-fluid">
	<h1 class="top">Upload Image to Search</h1>    
</div>
<div class="form">
	<div class="row r1">
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload >
    </form> 
    </div>
</div>    
</div>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded',function(){
			document.querySelector('.form').onsubmit =loader; 
		})
	function loader(){
				document.querySelector('#loader').style.display="block";
				document.querySelector('.one').style.display="none";
				document.querySelector('.sidebar').style.display="none";
				document.querySelector('.footer-distributed').style.display="none";
			}
</script>
{% endblock%}    